.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.nav-link {
    float: left;
}

.footer{
    background-color: #8bc7dabb;
    margin: 3em 0 0 0;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px 0 2em auto;
    background: #5a96a8 ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #76acbd;
}

.btn-social-icon {
    margin-left: 10px;
}